.table, .form-control {
    color: black;
}

.tt-menu {
    width: 500px;
    min-height: 50px;
    max-height: 400px;
    overflow-y: auto;
    padding: 0 1rem;
    background-color: white;
}

.twitter-typeahead, .tt-hint, .tt-input { 
    width: 100%;
}

.tt-suggestion {
    display: flex;
}

.tt-suggestion h6 {
    font-size: 14px;
}

#input-feedback {
    color: #ad121a;
}

div.form-row {
    display: flex;
}