.link-white{
    color: white !important;
}
.link-black{
    color: black !important;
}

.max-width-200 {
    max-width: 200px;
}

.footer-headline {
    font-weight: bold;
    font-size: .9rem;
}

.footer-font {
    font-family: 'Open Sans Light', sans-serif !important;
}

.footer-font-size-16 {
    font-size: 16px!important;
}
