a {
    color: $highlight;
}

.cursor-pointer {
    cursor: pointer;
}

.hover-bg {
    transition: .4s background-color ease-in-out;
    &.tt-cursor,
    &:hover {
        background-color: darken(white, 15%) !important;
    }
}

.no-border-top{
border-top: none !important;

}
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }

.tt-menu{
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 600px;
    overflow-y:auto;
}
.textbox-size{
    height:200px;
    min-height:200px;
    font-size:14pt;

}

.bg-light-grey{

    background-color: rgb(235,235,235);
    background: rgb(235,235,235);
}
.bg-med-grey{

    background-color: rgb(205,205,205);
    background: rgb(205,205,205);
    min-height: 11px;
}
.text-med-grey{
color: rgb(205,205,205) !important;
}
.button-size{

    height: 34px;
    line-height: 34px;
    width: auto;
    max-width: 210px !important;
}

.logo{
position: absolute;
top: -11px;
//  bottom: -30px;
  right: 0;
  left: 131px;
  z-index: 3;
//   width: 22%;
}       

.z-top{
z-index: 100;

}

.robto{
    font-family: "Roboto", sans-serif !important;
    letter-spacing: 1px;
}
.plunder{
    letter-spacing: 3px;
    @media (max-width: 1176px) {
		display: none !important;
	}
}

